# --- RUTAS DE PERSISTENCIA ---
# Usamos rutas relativas (./) para que el proyecto sea portable
CONFIG_DIR=./config
MEDIA_DIR=./data/movies

# --- NETWORKING ---
JELLYFIN_PORT=8096

# --- CREDENCIALES DE QBITTORRENT ---
# Definición de variables obligatorias para la WebUI. 
# Reemplazar con valores propios al crear el archivo .env real.
QBIT_USERNAME=admin
QBIT_PASSWORD=tu_contrase_segura_aqui


PUID=
PGID=

GF_SECURITY_ADMIN_USER=
GF_SECURITY_ADMIN_PASSWORD=